<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Salah Cheihbi</h2>
      <h3>Flutter Developer</h3>
    </div>
    <img src="https://picsum.photos/200" alt="img cover">
  </div>

<mat-divider></mat-divider>
<mat-selection-list [multiple]="false">
  <h2 matSubheader>Page</h2>

  <a routerLink="/" routerLinkActive="list-item-active"><mat-list-option>Dashboard</mat-list-option></a>
  <a routerLink="/posts" routerLinkActive="list-item-active"><mat-list-option>Posts</mat-list-option></a>
  <a routerLink="/articles" routerLinkActive="list-item-active"><mat-list-option>Articles</mat-list-option></a>
 </mat-selection-list>

<mat-divider></mat-divider>
another menu
</mat-nav-list>
