:host {
  mat-icon {
    vertical-align: middle;
    padding-right: 10px;
  }
}
.profile-card {
  text-align: center;
  padding: 0 10px 10px 10px;
  img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
}
